HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
application-setting.properties
application-aws.properties
application-db.properties
application-h2.properties
application-jwt.properties
application-swagger.properties
application-testDB.properties
application-slack.properties
application-security.properties
application-oauth.properties
application-ai.properties
application-s3.properties

## Mac
.DS_Store
